[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = {extras = ["asyncio"], version = "*"}
gradio = "*"
openai = "*"
anthropic = "*"
python-dotenv = "*"
asyncpg = "*"
aiomysql = "*"
aiosqlite = "*"
loguru = "*"
textual = "*"
pymysql = "*"
cryptography = "*"
pyperclip = "*"

[dev-packages]
pytest = "*"
black = "*"
mypy = "*"
pylint = "*"
textual-dev = "*"

[requires]
python_version = "3.8"

[scripts]
ui = "PYTHONPATH=. python -m textual run --dev main.py --press-to-continue --console"
